.equipe-image {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
  border: 1px solid #d3b800;
}
.main-text {
  color: white;
}
.main-text a {
  color: white;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .anchor-wrapper {
    position: relative;
  }
  .anchor {
    position: absolute;
    top: -146px;
  }
}
